* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF0F5;
}

.navbar {
    background-color: #0802046b  !important;
}

.navbar a {
    color: #fff !important;
}

.sessao_1 {
    display: flex;
    flex-direction: column;
}

.sessao_1 img {
    width: 90%;
    height: 90%;
    background-size: cover;
}

.videoden {
    width: 100%;
}

.footer_index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.textos {
    margin-top: 12%;
}

.marketing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

/* formulario */
.signup-page h3 {
    margin: 20px 0px 30px;
    padding: 0px 0px 25px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #03A9F4;
}
.signup-page a {
    color: #03A9F4;
}
.signup-page form {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 500px;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 0px 6px rgba(173, 173, 173, 0.5);
}
.signup-page .btn {
    width: 100%;
    margin: 10px 0px;
    font-size: 18px;
    background-color: #03A9F4;
    border: none;
}
.signup-page .btn:hover{
  opacity: 0.8;
}
.signup-page label.term-policy {
    margin: 10px 0px 0px;
}
.signup-page label.choose-icon {
    float: right;
    margin-top: -38px;
    background-color: #f5f5f5;
    padding: 7px 15px;
    height: 38px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ccc;
    position: relative;
    z-index: 999;
}
.signup-page input[type="file"] {
    padding: 3px 3px;
}
.signup-page .required-field {
    color: #F44336;
    font-size: 17px;
    margin: 0px 2px;
}
.signup-page label {
    margin-bottom: 3px;
}

/*--Responsive CSS--*/
@media(max-width: 767px){
.signup-page form {
    width: 90%;
}
}